<p style="color: green"><%= notice %></p>

<h1>Friends List</h1>

<table class="table table-striped table-bordered table-hover" id="friends">
  <thead>
  <tr>
    <th><strong>First name:</strong></th>
    <th><strong>Last name:</strong></th>
    <th><strong>Email:</strong></th>
    <th><strong>Phone:</strong></th>
    <th><strong>Twitter:</strong></th>
  </tr>
  </thead>
  <% @friends.each do |friend| %>
    <%= render friend %>
  <% end %>
</table>

<%= link_to "New friend", new_friend_path %>
